# Игнорировать бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o

# Игнорировать временные файлы
*.swp
*.swo

# Игнорировать лог-файлы
*.log

# Игнорировать директории и файлы, созданные IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Игнорировать файлы, созданные компилятором Go
*.out

# Игнорировать кэш и временные файлы Go
/bin/
/pkg/

# Игнорировать файлы конфигурации и кэша
_build/
.DS_Store
Thumbs.db

# Игнорировать файлы, созданные тестами
*.test.log
test-reports/

# Игнорировать файлы, созданные при сборке
/build/

# Игнорировать файлы, созданные при запуске примеров
example.log

# Игнорировать файлы, созданные при запуске тестов
test.log